@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

body {
    margin: 0;
    font-family: 'Comfortaa', cursive;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.welcome {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/welcome.jpg);
    padding: 220px 0;
}

.welcome__inner {
    position: relative;
    top: 120px;
}

.welcome__title {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
    margin-top: 55px;
    max-width: initial;
}


.welcome__suptitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 15px
}

.welcome__info {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

/* .welcome__name {
    position: relative;
    bottom:  100px;
} */

.info__name {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.info__num {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}



/* BUSSINES */


.bus {
    margin: 50px 0
}

.bus__list {
    display: flex;
    justify-content: space-between;
}

.bus__img {
    display: block;
    margin: 10px 0;
}

.bus__item {
    padding: 40px 175px;
    border: solid 1px black;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.bus__name {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin: 50px 0;
    color: #212429;
}

.bus__info {
    margin-left: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #6B7280;
    max-width: 200px;
    margin-top: auto;
}

/* Work */

.work__title {
    margin: 50px 0;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #212429;
}

.work__list {
    display: flex;
    justify-content: space-between;
}

.work__item {
    padding: 40px 75px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 30px;
}

.work__name {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #212429;
}

.work__type,
.work__price {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #FF8C1C;
    margin-top: 8px;

}

.work__time,
.work__edu {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #495057;
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.work__button {
    padding: 16px 28px;
    background: #FF8C1C;
    border-radius: 100px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: 1px solid #FF8C1C;
    transition: background-color 0.5s, border 0.5s;
}

.work__name,
.work__type,
.work__price,
.work__time,
.work__edu {
    position: relative;
    left: -45px;
}

.work__button {
    margin-top: 45px;
    position: relative;
    left: -50px;
}

.work__edu::before {
    content: '';
    background-image: url(./img/edu.svg);
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    min-width: 18px;
    margin-right: 4px;
}

.work__time::before {
    content: '';
    background-image: url(./img/clock.svg);
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    min-width: 18px;
    margin-right: 4px;
}